.order{
    font-family: 'Roboto', sans-serif;
    padding: 0 4rem;
}


.gridContainer{
    display: grid;
    grid-template-columns: minimax(150, 2fr) minimax(200px, 2fr);
    gap: 1rem;
    min-width: 320px;
    margin: 0 auto;

    grid-template-areas: "item1 item2";
}

.item:nth-child(1) {grid-area: item1;}
.item:nth-child(2) {grid-area: item2;}

.item{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    min-width: 200px;
}