.login{
    padding: 2rem 15rem;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
    position: relative;
    padding: 4rem 0;
    border-radius: 8px;
    box-shadow: 0 0 17px 2px rgb(61, 61, 61);
}

.title{
    text-align: center;

    h1{
        font-weight: bold;
        color: #A70000;
    }
}

.form{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .form_password {
  width: 100%;
  max-width: 400px; // giới hạn chiều rộng
}