.home{
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0;
    background-color: red;
}

.container{
    padding: 0 4rem;
    background-color: yellow;
}

.advertisement{
    display: flex;
    background-color: blue;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.adleft, .adright{
    background-color: green;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img{
        width: 225px;
        filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.5))
    }
}

.slideshow{
    background-color: pink;
    width: 800px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    overflow: hidden;

    img{
        object-fit: contain;
    }

}

.tab_container{
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5))
}

.tab_header{
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #ddd;

  button{
    background: none;
    border: none;
    color: #A70000;
    position: relative;
    padding: 0;
  }

  button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color: #A70000;
    display: none;
  }

  button.active::after{
    display: block;
  }
}

.tab_content {
  padding: 25px;
  background-color: aqua !important;
}

.tab_item {
  text-align: left;
}

.price {
  color: red;
  font-weight: bold;
}

.old_price {
  text-decoration: line-through;
  color: #999;
}