.home{
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0;
    background-color: red;
}

.container{
    padding: 4rem 4rem;
    background-color: yellow;
}

.advertisement{
    display: flex;
    background-color: blue;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.adleft, .adright{
    background-color: green;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img{
        width: 225px;
        filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.5))
    }
}

.slideshow{
    background-color: pink;
    width: 800px;
    align-items: center;
}