.signup{
    background-color: brown;
    padding: 2rem 12rem;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
}

.title{
    background-color: greenyellow;
    text-align: center;
}

.greeting_form{
    background-color: palevioletred;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.greeting{
    background-color: aqua;
}

.form{
    background-color: yellow;
}

.loginbtn_google{
    background-color: burlywood;
}