.gridContainer {
    display: grid;
    /* Cột trái chiếm 1 phần, cột phải chiếm 5 phần */
    grid-template-columns: minmax(120px, 2fr) minmax(400px, 5fr); 
    gap: 16px;
}

.item:nth-child(1) {grid-area: item1;}
.item:nth-child(2) {grid-area: item2;}

.gridContainer{
    grid-template-areas: "item1 item2";
}

@media (max-width: 1600px){
    .gridContainer{
        grid-template-columns: minmax(120px, 1fr) minmax(400px, 4fr);
        grid-template-areas: 
        "item1 item2";
    }
}

@media (max-width: 1200px){
    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item1"
        "item2";
    }
}

.item{
    border: solid 1px blue;
    font-size: 20px;
    padding: 10px;
    min-width: 200px;
}

.product_by_brand{
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.container{
    padding: 0 4rem;
}

.title{
    background-color: rgb(33, 33, 46);
    color: #fff;
    padding: 2rem;
}

.content{
    margin-top: 1rem;
}

.filter_container{
    padding: 1rem;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    border-radius: 10px;

    select{
        box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
        border: none;
    }
}

.title_filter_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

