.gridContainer{
    display: grid;
    grid-template-columns: minmax(150px, 1fr) ;
    gap: 16px;
    min-width: 320px;
    margin: 0 auto;
}

.item:nth-child(1) {grid-area: item1;}
.item:nth-child(2) {grid-area: item2;}

.gridContainer{
    grid-template-areas: "item1 item2";
}

@media (max-width: 1600px){
    .gridContainer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "item1 item2";
    }
}

@media (max-width: 1200px){
    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item1"
        "item2";
    }
}

.item{
    border: solid 1px blue;
    font-size: 20px;
    padding: 10px;
    min-width: 200px;
}