.signup{
    background-color: brown;
    padding: 2rem 12rem;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
}

.title{
    background-color: greenyellow;
    text-align: center;
   
}