.signup{
    background-color: brown;
    padding: 2rem 12rem;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
    position: relative;

}

.title{
    background-color: greenyellow;
    text-align: center;
}

.greeting_form{
    background-color: palevioletred;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
    
}

.greeting p{
    padding: 0 3rem;
    text-align: left;
}


.greeting_title{
    font-size: 1.5rem;
    font-weight: bold;

}



.form_container{
    background-color: yellow;
}

.loginbtn_google{
    position: absolute;
    left: 12rem;
    bottom: 0;
    text-align: center;
    margin: 0 auto;

    .continue_with_gg{
        border: solid 2px rgb(0, 105, 209);
        border-radius: 6px;
        padding: 0.5rem 1.5rem;
        gap: 1rem;
        display: flex;
        margin-top: 10px;
    }
}


.form{

  background-color: #ffffff;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.25);

}