.signup{
    background-color: brown;
    padding: 2rem 15rem;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
    position: relative;
    padding: 2rem 0;
}

.title{
    background-color: greenyellow;
    text-align: center;

    h1{
        font-weight: bold;
    }
}

.greeting_form{
    background-color: palevioletred;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 3.5rem;
}
.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
    
}

.greeting p{
    padding: 0 3rem;
    text-align: left;
}


.greeting_title{
    font-size: 1.5rem;
    font-weight: bold;

}



.form_container{
    width: 38%;
}

.loginbtn_google{
    position: absolute;
    left: 10rem;
    bottom: 8rem;
    text-align: center;
    margin: 0 auto;

    .continue_with_gg{
        border: solid 2px rgb(0, 105, 209);
        border-radius: 6px;
        padding: 0.5rem 1.5rem;
        gap: 1rem;
        display: flex;
        margin-top: 10px;
    }
}

.btndk{
    background: #A70000;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 0;
    margin: 0 auto;
    width: 200px;
    display: block;
}


