.home{
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0;
    background-color: red;
}

.container{
    padding: 4rem 4rem;
    background-color: yellow;
}

.advertisement{
    display: flex;
    background-color: blue;
    flex-direction: row;
}

.adleft, .adright{
    background-color: green;
    display: flex;
    flex-direction: column;
}