.order{
    font-family: 'Roboto', sans-serif;
    padding: 0 4rem;
}


.gridContainer{
    display: grid;
    grid-template-columns: minimax(150, 2fr) minimax(200px, 2fr);
    gap: 1rem;
    min-width: 320px;
    margin: 0 auto;
}