.order{
    font-family: 'Roboto', sans-serif;
    padding: 0 4rem;
}


.gridContainer{
    display: grid;
    grid-template-columns: minimax(450, 2fr) minimax(200px, 1fr);
    gap: 1rem;
    min-width: 320px;
    margin: 0 auto;

    grid-template-areas: "item1 item2";
}

.item:nth-child(1) {grid-area: item1;}
.item:nth-child(2) {grid-area: item2;}

.item{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    min-width: 200px;
    border: 1px solid blue;
}

@media (max-width: 1600px) {
  .gridContainer {
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: minmax(450px, 2fr) minmax(200px, 1fr);
    grid-template-areas:
      "item1 item2";
  }
}

@media (max-width: 1200px) {
    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "item1"
            "item2";
    }
}

.diachigiaohang{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tinh, .quan, .phuong{
    border: solid 1px gainsboro;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

.diachicuthe{
    border: solid 1px gainsboro;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}
    